body {
  font-family: Arial, sans-serif;
}

.animal-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.discussion-menu a {
  color: #0d6efd;
  margin-left: 5px;
  margin-right: 5px;
}

.discussion-menu a.btn {
  color: #fff !important;
}
